.custom-input-validation {
    label {
        text-align: left;
        display: block;
        margin-bottom: 5px;
    }
    input[type='text'], input[type='search'] {
        display: block;
        width: 100%;
        font-size: 16px;
        height: 3.25em;
        padding: 0.3rem 0.75rem;
        outline: 1px solid #ccc;
        border: 1px solid #ccc;
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .custom-input-validation.custom-checkbox-field {
        .position-relative {
            display: flex;
            flex-direction: row-reverse;
        }
    }

    .no-data-found {
        padding: 10px;
        text-align: left;
    }
    .search-result {
        position: absolute;
        background: #ccc;
        width: 100%;
        margin-top: 2px;
        border-radius: 5px;
        text-align: left;
        text-transform: capitalize;
        list-style: none;
        max-height: 30vh;
        overflow: scroll;
        div {
            cursor: pointer;
            margin: 5px 0px;
            padding: 10px 20px;
            font-size: 16px;
            letter-spacing: .5px;
            &:hover {
                background: #fff;
                transition: .5s all;
            }
            &:not(:last-child) {
                border-bottom: 1px solid #fff;
            }
        }
    }
}